/* You can add global styles to this file, and also import other style files */
.button-groups {
  padding: 16px 0;
}

.button-groups button {
  margin-right: 16px;
  position: relative;
  white-space: nowrap;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 32px;
  padding: 4px 15px;
  border-radius: 2px;
  background: #fff;
}
