/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.button-groups {
  padding: 16px 0;
}

.button-groups button {
  margin-right: 16px;
  position: relative;
  white-space: nowrap;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 32px;
  padding: 4px 15px;
  border-radius: 2px;
  background: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/theming";

@include mat-core();

$my-app-light-primary: mat-palette($mat-blue, 700);
$my-app-light-accent: mat-palette($mat-deep-orange, 700);
$my-app-light-warn: mat-palette($mat-red, 600);

$my-app-dark-primary: mat-palette($mat-green, A200);
$my-app-dark-accent: mat-palette($mat-purple, A700);
$my-app-dark-warn: mat-palette($mat-red, A400);

$my-app-light-theme: mat-light-theme(
  $my-app-light-primary,
  $my-app-light-accent,
  $my-app-light-warn
);
$my-app-dark-theme: mat-dark-theme(
  $my-app-dark-primary,
  $my-app-dark-accent,
  $my-app-dark-warn
);

@include angular-material-theme($my-app-light-theme);

.light-theme {
  @include angular-material-theme($my-app-light-theme);
  background: #fff;
  color: #000;
}

.dark-theme {
  @include angular-material-theme($my-app-dark-theme);
  background: #000;
  color: #fff;
}
