<ng-select
  [items]="chartTypes"
  [(ngModel)]="selectedType"
  (change)="onChange()"
>
</ng-select>

<app-pie-chart
  *ngIf="selectedType === 'pie'"
  [isLoading]="isLoading"
  [name]="name"
  [legend]="legendData"
  [series]="seriesData"
></app-pie-chart>

<app-bar-chart
  *ngIf="selectedType === 'bar'"
  [isLoading]="isLoading"
  [name]="name"
  [legend]="legendData"
  [series]="seriesData"
></app-bar-chart>

<app-line-chart
  *ngIf="selectedType === 'line'"
  [isLoading]="isLoading"
  [name]="name"
  [legend]="legendData"
  [series]="seriesData"
></app-line-chart>
